__pycache__/
*.db
assets/external/
.web
*.py[cod]
.states
/target
# .gitignore file content
.env
__pycache__/
venv/
.DS_Store

# Added by cargo
#
# already existing elements were commented out

#/target
